*{
    box-sizing: border-box;
}
html{
    font-family: 'Bebas Neue', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
}
body{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
img{
    width: 12rem;
    height: 12rem;
    border-radius: 100px;
}
.firstSec{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.vl{
    height: 13.5rem;
    border: 0.5px solid grey;
    margin-top: 2.5rem;
}
.hl{
    border: 0.5px solid rgb(156, 155, 155);
    width: 90%;
    margin: auto;
}

.personalDetails{
    display: flex;
    color:  rgb(156, 155, 155);
    justify-content: space-around;
    height: 21rem;

}
.me{
    margin-top: 2rem;
    width: 50%;
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */

}
.fullName{
    height: 70%;
    font-size: 1.2rem;
}
#lastName{
    color: orange;
}
.communication{
    width: 50%;
}
.communication .hl{
    border: 0.5px solid rgb(156, 155, 155);
    width: 85%;
    margin: auto;
}
.phoneEtc{
   
    margin-left: 3rem;
    margin-top: 2rem;
    /* border: 1px solid red; */

}
pre{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.aboutMe{
    margin-left: 3rem;
    /* border: 1px solid red; */

}
.icons{
    height: 4rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}
.fab{
    font-size: 50px;
}
button{
    display: flex;
    justify-content: space-around;
    height: 3rem;
    width: 18%;
    background: rgba(0, 0, 0, 0.89);
    border: none;
    color: grey;
}
button i{
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
}
button .fa-skype:hover{
    color: rgb(69, 167, 233);
}
button .fa-twitter:hover{
    color: rgb(111, 179, 224);
}
button .fa-facebook:hover{
    color: rgb(0, 4, 255);
}
button .fa-linkedin:hover{
    color: rgb(0, 34, 226);
}
button .fa-pinterest:hover{
    color: rgb(230 0 35);
}
.secondSec{
    display: flex;
    /* height:35rem; */
}
.heading{
    margin-left: 2rem;
}
.experience{

    width: 65%;
    background-color: whitesmoke;
    /* height: 35rem; */
    display: flex;
    flex-direction: column;
    
}
.card{
    gap: 1rem;
    display: flex;
}
.expdescription{
    align-items: center;
    padding: 4px;
    /* width: 30%; */
}
.expHeader{
    text-align: right;
    width: 80%;
}
.expHeader h3{
    color: rgb(36, 170, 214);
}
.expdescription h3{
    color: rgb(87, 84, 84);
}
.progress{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 35rem;
}
#pro li{
    padding-bottom: 1rem;

}
.proSkills{
    background-color: rgb(49, 149, 182);
    height: 20rem;
}
.proSkills h2{
    margin-left: 1rem;

}

.perSkills{
    background-color: rgb(182, 182, 37);
    height: 20rem;
}
.perSkills h2{
    margin-left:1rem ;
}
.thirdSec{
    background-color: rgb(223 210 210 / 74%);
    display: flex;
    flex-direction: column;
}
.eduCard{
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}
.eduCard .expHeader{
    width: 33%;
}
.fourthSec{
    background-color: rgba(238, 221, 221, 0.74);
    display: flex;
}
.hobbies{
    width: 75%;
}
.hobbieIcons{
    display: flex;
    justify-content: space-around;
}
.hIcon{
    font-size: 25px;
    color: rgb(51, 48, 48);
}
.names{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(51, 48, 48);
    display: flex;
    justify-content: space-around;
}

.language{
    /* height: 10rem; */
    width: 40%;
    background-color: rgb(210 201 201 / 74%);
   
}
 ul{
    list-style-type: none;
}
.language h2{
    margin-left:1rem ;
}
.table{
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: space-betweent;
}
.table ul{
    padding-left: 1rem;

}
#sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
#progressbar {
    width: 90%;
    /* margin-left:6rem; */
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 13px;
    /* padding: 1px; */
}

#progressbar>div {
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 8px;
    border-radius: 10px;
}




@media only screen and (max-width: 1400px) {
    html {
      font-size: 13px;
    }
    .fab{
        font-size: 25px;
    }
  }